/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main__font), sans-serif;
  font-variation-settings: "wght" var(--weight__light__main-text);
  background-color: var( --background-color) ;
  color: var(--accent-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  

}


.header {
  font-family: var(--accent__font);
  font-weight: var(--weight__light__main-text);
  text-transform: uppercase;
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  background: var(--background-color);
  inline-size: clamp(23.4375rem, 16.2844rem + 30.520000000000003vw, 43.75rem);
  margin: 100px auto;
 

}

.header__container {
  padding-block-start: 136px;
  text-align: center;
  
  
  

}

.header__logo {
  text-decoration: none;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);

  



}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  padding-block-start: 20px;
  



}

.theme-menu {
  font-size: 14px;
  

}

.header__theme-menu {
  padding-block-start: 25px;
  padding-block-end: 5px;
  display: grid;
  justify-content: center;

}

.theme-menu__list {
  margin-inline-start: 18px;

}

.theme-menu__item {
  padding-block-end: 14px;

}

.theme-menu__button {
  position: relative;
  border: none;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  transition-duration: 0.3s;
  transition-timing-function: ease;

}
.theme-menu__button:hover {
  opacity: 0.6; 
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;

}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  inset-inline-start: -14px;
  opacity: 0.6;
  animation-name: active-button;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.theme-menu__button::after {
  content: "";
  display: block;
  position: relative;
  transition-duration: 0.3s;
  transform: scaleX(0);
  transform-origin: left center;
  block-size: 2px;
  background-color: var(--accent-color);
  opacity: 0.6;

}

.theme-menu__button:focus-visible::after {
  transition-duration: 0.3s;
  transform: scaleX(1);
}

.image {
  inline-size: 694px;
  block-size: 694px;
  border: 2px solid #000;
  object-fit: cover;
  object-position: center;

}

.image__hue-rotate {
  filter: hue-rotate(75deg);
}

.image__blur {
  filter: blur(1px);
}

.image__sepia {
  filter: sepia(1);
}

.image__shadow {
  filter: drop-shadow(2px 4px 6px var(--accent-color));
}

.image__saturate {
  filter: saturate(0.5);

}

.image__grayscale {
  filter: grayscale(1);
}

.image__brightness {
  filter: brightness(0.5);
}
.image__label {
  position: absolute;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  font-family: var(--accent__font);
  font-weight: var(--weight__light__main-text);
  font-size: 14px;
  text-transform: uppercase;
  color: var(--accent-color);
  inset-inline-end: 25px;
  inset-block-start: 25px;
  text-shadow: 1px -1px var(--background-color);

}

.content__image {
  position: relative;

}

.main {
  
 
}

.main__content {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.main__content-section  {
  background: var(--background-color);
  border: 2px solid var(--accent-color);
  max-inline-size: 696px;
  align-self: center;
  font-family: var(--main__font);
  
  color: var(--accent-color);
  
}

.content-title {
  font-weight: var(--weight__light__title);
  text-align: start;
  padding: 5px 10px;
  
  font-variation-settings: "wght" var(--weight__light__title);
  
  

}

.content-text {
  font-variation-settings: "wght" var(--weight__light__main-text);
  line-height: 117%;
  padding: 25px 25px 27px 25px ;


}

.additional__text {
  padding: 0px 25px 25px;
}

.text {
  font-size: 18px;
  
  text-align: start;

}

.card__like-button {
  padding: 8.5px 33px;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);

  }
  


  .main__button {
    display: flex;
    justify-content: end;
    padding: 29px 25px;
    gap: 9px;

  }

  .like__ikon {
    
    
    
  }

  .card__icon-button {
    border: none;
    background-color: var(--background-color);

  }

  .button__text {
    position: relative;
    z-index: 1;
    font-family: var(--accent__font) ;
    font-weight: var(--weight__light__main-text);
    font-size: 14px;
    line-height: 90%;
    color: var(--background-color);
    mix-blend-mode: difference;

  }

  .footer__button {
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 44px auto 105px;
    max-inline-size: 335px;
    background-color: var(--background-color);
    padding: 19px 18px;
  }

  .footer__floppy {
    inline-size: 21px;
    block-size: 21px;
    position: relative;
    z-index: 1;
    color: var(--background-color);
    mix-blend-mode: difference;
  }
  

  .footer__button-text {
    padding-block-start: 4px;
  }

  .button {
    position: relative;

  }

  .button::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--accent-color);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
    transform-origin: left center;

  }

  .button:hover::after {
    transform: scaleX(1);

  }


  .button:focus {
    outline: none;
  }

  .button:focus-visible {
    box-shadow: 2px 2px 0 var(--accent-color);
    transition-duration: 0.3s;

  }

  .button:hover {
    cursor: pointer;
  }